#container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin-top: 10rem;
    padding: 4px;
}

.row {
    display: flex;
}

.slot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 2px green solid;
    margin: 4px;
    padding: 10px;
}

#board {
    /* display: none; */
}

#win-card {
    /* display: flex; */
    display: none;
    flex-direction: row;
    font-size: 32px;
    width: 500px;
    justify-content: center;
}

#winner {
    display: inline-block;
    margin: 0 0.4rem 0 0.4rem;
}
