#container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#setUpCont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card {
    margin-top: 10rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.row {
    display: flex;
}

.slot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    font-size: 4rem;
    font-family: 'Cabin', sans-serif;
}

#board {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-image: linear-gradient(180deg, #dedede 0%, #ffffff 58%);
}

#win-card {
    display: none;
    flex-direction: column;
    font-size: 2rem;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#win-card-scores {
    display: flex;
    flex: 0 0 1em;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    font-size: 1.7rem;
    border: 2px solid red;
}

#su-card {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    margin-top: 1rem;
}

#winner {
    display: inline-block;
    margin: 0 0.4rem 0 0.4rem;
}

.aside {
    display: flex;
    flex-direction: column;
    margin-right: 20rem;
    min-width: 200px;
    min-height: 320px;
    align-self: flex-end;
    padding: 9px;
    justify-items: stretch;
}

#aside1 {
    background-image: linear-gradient(0deg, #dedede 0%, #ffffff 58%);
}

.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1500px) {
    .aside {
        margin-right: 1rem;
    }
}
